# Discord bot token (from discord.com/developers)
DISCORD_TOKEN=your_token_here

# ID of the channel where games will auto-post
GAME_CHANNEL_ID=123456789012345678

# Seconds between games (default 180 = 3 min)
GAME_INTERVAL=180
